[tool.poetry]
name = "atciss"
version = "0.1.0"
description = "VATSIM Germany ATCISS"
authors = ["Franz Pletz <fpletz@fnordicwalking.de>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/a3li/atciss"

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.103"
uvicorn = {extras = ["standard"], version = "^0.23"}
click = "^8.1"
aiohttp = "^3.8.6"
redis = "^4.5.6"
beautifulsoup4 = "^4.12.2"
pyaixm = { git = "https://github.com/volkerp/pyaixm", rev = "00112765b7ca767d45af9e743b0264e14ac25d1b" }
pynotam = { git = "https://github.com/globin/PyNotam", rev = "84b741863d09aaa616e6f378a2e6e5eab8df706f" }
metar = { git = "https://github.com/globin/python-metar", rev = "35efaa6f76d00bd53b9e29bb0f87fbc3c80d8af2" }
pydantic = "^2"
pydantic-settings = "^2.0.2"
lxml = "^4.9.3"
astral = "^3.2"
python-jose = "^3.3.0"
watchfiles = "~0.19.0"
alembic = "^1.12.0"
# fork until sqlalchemy2 support is merged https://github.com/AntonDeMeester/sqlmodel
sqlmodel = {git = "https://github.com/AntonDeMeester/sqlmodel.git", rev = "f926d9d01915581562d48ce1cea608163418afa4"}
asyncpg = "^0.28.0"
python-dateutil = "^2.8.2"
fastapi-async-sqlalchemy = "^0.6.0"
prometheus-fastapi-instrumentator = "^6.1.0"
celery = {version = "^5.3.4", extras = ["redis,gevent"]}
asgiref = "^3.7.2"
loguru = "^0.7.2"
asgi-correlation-id = "^4.2.0"
greenlet = "^3.0.0"
sqlalchemy = { version = "^2.0.21", extras = [ "asyncio" ] }
geoalchemy2 = "^0.14.1"
pydantic-xml = {extras = ["lxml"], version = "^2.2.4"}
xmltodict = "^0.13.0"

[tool.poetry.group.dev.dependencies]
black = "^23.9"
pylint = "^3.0"
types-beautifulsoup4 = "^4.12.0.5"
types-python-jose = "^3.3.4.8"
mypy = "^1.6.0"
pyright = "1.1.331"
ruff = "^0.1.0"
celery-types = "^0.20.0"
flower = "^2.0.1"

[tool.poetry.scripts]
atciss = 'atciss.cli:cli'
celery = 'celery.__main__:main'
alembic = 'alembic.config:main'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
exclude = [
  "atciss/app/views/notam.py",
]
python_version = '3.11'
show_error_codes = true
follow_imports = 'silent'
strict_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
no_implicit_reexport = true
warn_unused_configs = true
disallow_subclassing_any = true
disallow_incomplete_defs = true
disallow_untyped_decorators = true
disallow_untyped_calls = true
disallow_untyped_defs = true
implicit_optional = true

[[tool.mypy.overrides]]
module = [
    "parsimonious.*",
    "pyaixm.*",
    "redis.*",
]
ignore_missing_imports = true

[tool.pylint.format]
jobs = 0
disable = [
  "W1203", # logging-fstring-interpolation
  "R0902", # too-many-instance-attributes
  "R0903", # too-few-public-methods
  "C0114", # missing-module-docstring
  "C0115", # missing-class-docstring
  "C0116", # missing-function-docstring
  "W0511", # fixme
  "C0103", # invalid-name
]
output-format = "colorized"
max-line-length = "88"

[tool.pyright]
include = ["atciss"]

pythonVersion = "3.11"
pythonPlatform = "Linux"

typeCheckingMode = "strict"

reportIncompatibleVariableOverride = false
reportMissingTypeArgument = false
reportUnknownArgumentType = false
reportUnknownMemberType = false
reportUnknownVariableType = false

reportCallInDefaultInitializer = "error"
reportImplicitOverride = "error"
reportImplicitStringConcatenation = "error"
reportImportCycles = "error"
reportMissingSuperCall = "error"
reportPropertyTypeMismatch = "error"
reportShadowedImports = "error"
reportUninitializedInstanceVariable = "error"
# reportUnnecessaryTypeIgnoreComment = "error"
reportUnusedCallResult = "error"
