html, body {
  overflow: hidden
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button, label {
  cursor: pointer
}

summary {
  outline: none;
  cursor: pointer;
}

*:focus {
 outline: none
}

tr:nth-child(even) {
  background-color: #eee;
}

td, th {
  padding: .2em;
}

th {
  text-align: start;
  padding-top: 1em;
}

pre {
  margin: 0;
}
